{% extends 'core/base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
  <section class="max-w-2xl mx-auto mt-8 p-4">
    <h2 class="text-3xl font-semibold mb-4">About Us</h2>
    <p class="text-lg">
      Welcome to the Marketplace! We are a vibrant online platform connecting buyers and sellers worldwide. Our mission is to provide a seamless and secure environment for individuals to discover unique products, showcase their talents, and build successful businesses.
    </p>

    <h2 class="text-2xl font-semibold mt-6 mb-4">Our Vision</h2>
    <p class="text-lg">
      Established in 2023, Your Marketplace envisions creating a diverse and inclusive online marketplace. We are passionate about fostering a community where creativity thrives, and individuals can turn their passions into thriving businesses.
    </p>

    <h2 class="text-2xl font-semibold mt-6 mb-4">Meet the Team</h2>
    <p class="text-lg">
      Our dedicated team is composed of individuals with diverse skills and experiences. We are united by a shared commitment to excellence and a passion for empowering our users.
    </p>
    <ul class="list-disc pl-6 mt-2">
      <li><strong>Karl Ducta</strong> - CEO</li>
      <li><strong>Jane Smith</strong> - CTO</li>
      <li><strong>Alice Johnson</strong> - Head of Operations</li>
    </ul>
  </section>
{% endblock %}
