{% extends 'core/base.html' %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
  <section class="max-w-2xl mx-auto mt-8 p-4">
    <h2 class="text-3xl font-semibold mb-4">Privacy Policy</h2>

    <p class="text-lg">
      At The Marketplace, we value and respect your privacy. This Privacy Policy outlines how we collect, use, and safeguard your personal information when you use our website.
    </p>

    <h2 class="text-2xl font-semibold mt-6 mb-4">Information We Collect</h2>
    <p class="text-lg">
      We collect personal information that you voluntarily provide to us when you register an account, make a purchase, or use our services. This information may include your name, email address, and other relevant details.
    </p>

    <h2 class="text-2xl font-semibold mt-6 mb-4">How We Use Your Information</h2>
    <p class="text-lg">
      We use the collected information to provide and improve our services, communicate with you, and enhance your overall experience on our platform. Your personal information will not be shared with third parties without your consent.
    </p>

    <h2 class="text-2xl font-semibold mt-6 mb-4">Security</h2>
    <p class="text-lg">
      We take appropriate measures to protect your personal information from unauthorized access, disclosure, alteration, and destruction. Your data is stored securely, and we regularly review our security practices to ensure the utmost protection.
    </p>

    <h2 class="text-2xl font-semibold mt-6 mb-4">Cookies</h2>
    <p class="text-lg">
      We use cookies to enhance your browsing experience. Cookies are small files stored on your device that help us analyze website traffic, customize content, and provide a personalized experience. You can adjust your browser settings to disable cookies if you prefer.
    </p>

    <h2 class="text-2xl font-semibold mt-6 mb-4">Changes to the Privacy Policy</h2>
    <p class="text-lg">
      We may update our Privacy Policy from time to time. Any changes will be reflected on this page, and we encourage you to review the policy periodically. Your continued use of our services after any modifications indicate your acceptance of the changes.
    </p>
  </section>
{% endblock %}
