{% extends 'core/base.html' %}

{% block title %}Terms of Use{% endblock %}

{% block content %}
  <section class="max-w-2xl mx-auto mt-8 p-4">
    <h2 class="text-3xl font-semibold mb-4">Terms of Use</h2>

    <p class="text-lg">
      Welcome to Market Place! By using this website, you agree to comply with and be bound by the following terms and conditions of use. If you disagree with any part of these terms, please do not use our website.
    </p>

    <h2 class="text-2xl font-semibold mt-6 mb-4">Use of the Website</h2>
    <p class="text-lg">
      The content of this website is for your general information and use only. It is subject to change without notice. We may suspend or withdraw our site without notice.
    </p>

    <h2 class="text-2xl font-semibold mt-6 mb-4">User Account</h2>
    <p class="text-lg">
      If you create an account on our website, you are responsible for maintaining the confidentiality of your account and password. You agree to accept responsibility for all activities that occur under your account.
    </p>

    <h2 class="text-2xl font-semibold mt-6 mb-4">Prohibited Activities</h2>
    <p class="text-lg">
      You are prohibited from violating or attempting to violate the security of our website. Prohibited activities include but are not limited to unauthorized access, tampering, or interference with the website.
    </p>

    <h2 class="text-2xl font-semibold mt-6 mb-4">Intellectual Property</h2>
    <p class="text-lg">
      All intellectual property rights on this website are owned by or licensed to us. This includes, but is not limited to, the design, layout, look, appearance, and graphics.
    </p>

    <h2 class="text-2xl font-semibold mt-6 mb-4">Changes to Terms</h2>
    <p class="text-lg">
      We may update these terms from time to time. Any changes will be posted on this page, and your continued use of the website after such changes will constitute your acknowledgment of the modified terms and your agreement to be bound by them.
    </p>
  </section>
{% endblock %}
